<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>

    #ulingredients li{
        display: inline;

    }
     
    
</style>
<body>
    <!-- {{!-- Heading div to display name of the website and greetings --}} -->
   <div id="divheading" style=" height: 100px;text-align: center;font-size: 30pt;font-weight: bold;font-family: sans-serif;border-bottom: 1px solid black;">Welcome To Somerandomname.com</div>
   <!-- {{!-- Sidebar div to display myfriends myrecipes add friends and recipes .etc --}} -->
   
<div id="divsidebar" style="width: 300px;border-right: 2px solid black;display: inline-block;">
    <!-- {{!-- user info --}} -->
    <div id="divuserinfo" style="border-bottom: 2px solid black;padding: 10px;font-family: sans-serif;font-size: 12pt;font-weight: bold;">
       Signed in as <t id="currentuser">{{userinfo.name}}</t> 
        <img id="imguser" src="{{userinfo.image}}" style="height: 40px;width: 40px;border-radius: 50%;">
    </div>
    <!-- {{!-- add new recipe --}} -->
    <div id="addnewrecipe" style="border-bottom: 2px solid black;text-align: center;font-family: monospace;font-size: 15pt;padding: 10px;">
     Add New Recipe &nbsp;<button id="btnaddnewrecipe"class="btn btn-info btn-sm" ><svg class="bi bi-plus" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
          </svg></button>

    </div>
    <!-- {{!-- add new friend --}} -->
    <div id="addnewfriend" style="border-bottom: 2px solid black;padding: 10px;">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="inpfriendusername">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btnaddnewfriend"><svg class="bi bi-person-plus-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7.5-3a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                  </svg></button>
              </div>
          </div>
  
    <div id="searcheduser" style="overflow-y: scroll;max-height:100px; ">
       
        
    </div>
</div>
<!-- {{!-- My friends --}} -->
<div id="myfriends" style="border-bottom: 2px solid;font-family:monospace;padding: 10px;font-size: 15pt;text-align: center;">My Friends&nbsp;<svg class="bi bi-people-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
  </svg></div>

<!-- {{!-- My recipes --}} -->
<div id="myrecipes" style="border-bottom: 2px solid black;text-align: center;font-family: monospace;font-size: 15pt;padding: 10px;">
My Recipes&nbsp;<svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
  </svg>
</div>
<!-- {{!-- Logout --}} -->
<div id="btnlogout" style="border-bottom: 2px solid black;font-size: 15pt;font-family: monospace;text-align: center;padding: 10px;">
Logout&nbsp;
  
</div>

</div>
  <!-- sidebardiv end  -->

 <!-- {{!-- Main Div starts --}} -->
  <div id="main" style="position: fixed;display: inline-block;width:600px;">

       <!-- div to add new recipe -->
  <div id="divaddnewrecipe" style="width: 600px;border-right: 2px solid black;display: inline-block;height: 800px;position: fixed;padding-top: 10px ;overflow-y: scroll;background-color: white">
    <form method="POST" enctype="multipart/form-data" id="frmaddrecipe" class="form-inline">
        &nbsp;&nbsp;
       <input class="form-control" placeholder="Name Of The Dish" id="inpnameofdish" style="width: 200px;" name="nameofdish"> &nbsp;&nbsp;&nbsp;
       <select id="cuisine">
           <option selected>Cuisine</option>
           <option>North Indian</option>
           <option>South Indian</option>
           <option>Italian</option>
           <option>Chinese</option>
    
       </select>&nbsp;&nbsp;
       <input type="radio" id="inpveg" name="q" value="Veg" class="typeoffood">Veg &nbsp;    <input type="radio" class="typeoffood" id="inpnonveg" name="q" value="Non Veg">Non Veg
    <input class="form-control" placeholder="Ingredient" id="inpingredient"  style="margin-top: 10px;margin-left: 10px;"><input style="margin-top: 10px;margin-left: 10px;" class="form-control" placeholder="Quantity" type="number" id="inpquantity">
    <select id="unit" style="width: 60px;height: 30px;margin-top: 10px;margin-left: 10px;" >
        <option selected >L t</option>
        <option>gm</option>
        <option>kg</option>
        <option>teaspoon</option>
        <option>Peices</option>
        <option>ml</option>
        <option>tablespoon</option>
        <option>cup</option>
        <option>pint</option>
        <option>quart</option>
        <option>mg</option>
        <option>mm</option>
        <option>cm</option>
        <option>m</option>
        <option>inch</option>
        <option>dozen</option>

    </select>
    <button class="btn btn-secondary" id="btnaddtolist" style="margin-left: 10px;margin-top: 10px;" type="button" >Add</button>
     <ul id="ulingredients" style="height: 100px;width: 550px;border: 2px solid black;padding: 10px;margin-left: 10px;margin-top: 10px;">

     </ul>
    <input type="text" class="form-control" placeholder="Method : (Write Step And Press Enter To Add The Step)" id="inpmethod" style="margin-top: 5px;margin-left: 10px;width: 550px;">
  
    <ol id="olsteps" style="margin-top:10px;margin-left: 10px;width: 550px;"></ol><br>

    <div class="input-group mb-3" style="margin-left: 10px;">
        <div class="custom-file">

          <input type="file" name="recipeimage" class="custom-file-input" id="inprecipeimage" accept=".jpg,.png,.jpeg" style="width: 400px;">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Upload An Image</label>
        </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-info" id="btnupload">Upload <svg class="bi bi-card-image" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
                <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>
              </svg></button><input type="submit" value="Share" id="share" class="btn btn-success"> 
              </div>
    </div>
   
<div id="showimage" style="height: 300px;width: 200px;margin-left: 200px;display: inline-block;">

</div>
 

    
    
    </form>





</div>
<!-- {{!-- Div to add new recipe end --}} -->

<!-- {{!-- Div to show posts of friends --}} -->

<div id="divposts" style="width: 600px;border-right: 2px solid black;display: inline-block;height: 600px;padding-top: 10px ;overflow-y: scroll;padding:10px;">
</div>
{{!-- div to show user's posts --}}
<div id="divmyposts" style="width: 600px;border-right: 2px solid black;display: inline-block;height: 500px;padding-top: 10px ;overflow-y: scroll;">
</div>
{{!-- div to edit posts --}}



 <div id="diveditrecipe" style="width: 600px;border-right: 2px solid black;display: inline-block;height: 800px;position: fixed;padding-top: 10px ;overflow-y: scroll;background-color: white">
     
    <form method="POST" enctype="multipart/form-data" id="frmeditrecipe" class="form-inline">
        &nbsp;&nbsp;
       <input class="form-control" placeholder="Name Of The Dish" id="inpeditnameofdish" style="width: 200px;" name="nameofdish"> &nbsp;&nbsp;&nbsp;
       <select id="editcuisine">
           <option selected>Cuisine</option>
           <option>North Indian</option>
           <option>South Indian</option>
           <option>Italian</option>
           <option>Chinese</option>
    
       </select>&nbsp;&nbsp;
       <input type="radio" id="ineditpveg" name="q" value="Veg" class="typeoffood">Veg &nbsp;    <input type="radio" class="typeoffood" id="inpeditnonveg" name="q" value="Non Veg">Non Veg
    <input class="form-control" placeholder="Ingredient" id="inpeditingredient"  style="margin-top: 10px;margin-left: 10px;"><input style="margin-top: 10px;margin-left: 10px;" class="form-control" placeholder="Quantity" type="number" id="inpquantityedit">
    <select id="editunit" style="width: 60px;height: 30px;margin-top: 10px;margin-left: 10px;" >
        <option selected >L t</option>
        <option>gm</option>
        <option>kg</option>
        <option>teaspoon</option>
        <option>Peices</option>
        <option>ml</option>
        <option>tablespoon</option>
        <option>cup</option>
        <option>pint</option>
        <option>quart</option>
        <option>mg</option>
        <option>mm</option>
        <option>cm</option>
        <option>m</option>
        <option>inch</option>
        <option>dozen</option>

    </select>
    <button class="btn btn-secondary" id="btnaddtolistedit" style="margin-left: 10px;margin-top: 10px;" type="button" >Add</button>
     <ul id="ulingredientsedit" style="height: 100px;width: 550px;border: 2px solid black;padding: 10px;margin-left: 10px;margin-top: 10px;">

     </ul>
    <input type="text" class="form-control" placeholder="Method : (Write Step And Press Enter To Add The Step)" id="inpmethodedit" style="margin-top: 5px;margin-left: 10px;width: 550px;">
  
    <ol id="olstepsedit" style="margin-top:10px;margin-left: 10px;width: 550px;"></ol><br>

    <div class="input-group mb-3" style="margin-left: 10px;">
        <div class="custom-file">

          <input type="file" name="recipeimage" class="custom-file-input" id="inprecipeimageedit" accept=".jpg,.png,.jpeg" style="width: 400px;">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Upload An Image</label>
        </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-info" id="btnuploadedit">Upload <svg class="bi bi-card-image" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
                <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>
              </svg></button><input type="submit" value="Update" id="shareedit" class="btn btn-success"> 
              </div>
    </div>
   
<div id="showimageedit" style="height: 300px;width: 200px;margin-left: 200px;display: inline-block;">

</div>
 

    
    
    </form>





 </div>
{{!-- div to edit ends --}}





</div>
       {{!--end of main div  --}}

    
 
<div id="divnotification" style="height:600px;width:470px;background-color: #311559;display:inline-block;margin-left:600px;position:fixed;color: white">Notifications<br>
    Friends
    <ul id="ulnotificationfriends" style="height: 150px;overflow-y:scroll;background-color: #468503">
    
</ul>
Recipes
<ul id="ulnotificationrecipes"  style="height: 150px;overflow-y:scroll;background-color: #b667c2">
    
</ul>
Comments
<ul id="ulnotificationcomments"  style="height: 150px;overflow-y:scroll;background-color: #f53d59">
  
</ul>
</div>



 
 

    <script src="content.js">

 
</script>
</body>
</html>
